<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{ 'assets/libs/jquery/dist/jquery.min.js'|theme }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ 'assets/libs/popper.js/dist/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ 'assets/extra-libs/sparkline/sparkline.js'|theme }}"></script>
<!--Wave Effects -->
<script src="{{ 'assets/dist/js/waves.js'|theme }}"></script>
<!--Menu sidebar -->
<script src="{{ 'assets/dist/js/sidebarmenu.js'|theme }}"></script>
<!--Custom JavaScript -->
<script src="{{ 'assets/dist/js/custom.min.js'|theme }}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{{ 'assets/libs/chartist/dist/chartist.min.js'|theme }}"></script>
<script src="{{ 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/pages/dashboards/dashboard1.js'|theme }}"></script>