title = "Team Page"
url = "/teams/:slug"
layout = "pages"
is_hidden = 0

[teamsUniversity]
slug = "{{ :slug }}"
==
<?php
function onEnd()
{
    // Optional - set the page title to the post title
    if ($this->team)
$this->page->title = $this->team->name;
//$this->page->description = str_limit($this->post->summary, 60, "...");
}
?>
==
<div class="col-md-8">
    <div class="card">
        <div class="block-header">{{this.page.title}}</div>
        <div class="card-body">
            {% if team %}
{% set team = teamsUniversity.team %}

            <div class="accordion" id="accordionExample">
                <div class="card card-game">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Dota 2
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for u_team in team.teams %}
                                {% if u_team.game == 'Dota 2' %}
                                    <h3>
                                        <span class="bd-content-title">{{ u_team.team_name}}</span>
                                        <hr>
                                    </h3>
                                    <div class="row">
                                        {% for player in u_team.players %}
                                                    <div class="col-md-4">
                                                        <a class="team-player">
                                                            <img src="/storage/app/media{{player.img}}" width="100%">
                                                            <div class="info">
                                                                <h4 class="nickname">{{player.player_nickname}}</h4>
                                                                <div class="name">{{player.name}} {{player.last_name}}</div>
                                                            </div>
                                                        </a>
                                                </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card card-game">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Counter-Strike: Global Offensive
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for u_team in team.teams %}
                                {% if u_team.game == 'CS:GO' %}
                                <h3>
                                    <span class="bd-content-title">{{ u_team.team_name}}</span>
                                    <hr>
                                </h3>
                                <div class="row">
                                    {% for player in u_team.players %}
                                    <div class="col-md-4">
                                        <a class="team-player">
                                            <img src="/storage/app/media{{player.img}}" width="100%">
                                            <div class="info">
                                                <h4 class="nickname">{{player.player_nickname}}</h4>
                                                <div class="name">{{player.name}} {{player.last_name}}</div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card card-game">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Hearthstone
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card card-game">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Artifact
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card card-game">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                Warface
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% partial 'sidebar' %}